### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [139]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data (1).csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [140]:
Player_Count = purchase_data_df["Purchase ID"].sum()
Player_Count

303810

## Purchasing Analysis (Total)

In [141]:
Num_Unique_Items= len(purchase_data_df["Item Name"].unique())

average_price = purchase_data_df["Price"].mean()

Num_Purchases = purchase_data_df["Purchase ID"].count()

Total_revenue = purchase_data_df["Price"].sum()

Age = purchase_data_df["Age"]

Gender = purchase_data_df["Gender"].count()
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [142]:
Purchase_Analysis_Total_df = pd.DataFrame({"Number of Unique Items": [Num_Unique_Items],
                                     "Average Price": [average_price],
                                     "Number of Purchases": [Num_Purchases],
                                     "Total Revenue": [Total_revenue],
                                     "Age": [Age]
                                    })
Purchase_Analysis_Total_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue,Age
0,179,3.050987,780,2379.77,0 20 1 40 2 24 3 24 4 ...

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
Male_Filter = purchase_data_df.loc[purchase_data_df["Gender"]== "Male",:]

Female_Filter = purchase_data_df.loc[purchase_data_df["Gender"]== "Female",:]

Other_Filter = purchase_data_df.loc[purchase_data_df["Gender"]== "Other / Non-Disclosed",:]

Male_Count = Male_Filter["Purchase ID"].count()

Female_Count = Female_Filter["Purchase ID"].count()

Other_Count = Other_Filter["Purchase ID"].count()

Male_Percentage = (Male_Count/Player_Count)*100

Female_Percentage = (Female_Count/Player_Count)*100

Other_Percentage = (Other_Count/Player_Count)*100

In [47]:
#create a new column call Gender. Key would be Gender. Make Gender Co0lumn as index(Set index funciton)

Gender_Demographics_df = pd.DataFrame({"Count": [Male_Count,Female_Count,Other_Count],
                                     "Percentage": [Male_Percentage,Female_Percentage,Other_Percentage],
                                    
                                    })
Gender_Demographics_df

   Count  Percentage
0    652    0.214608
1    113    0.037194
2     15    0.004937


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
Male_Avg_Price = Male_Filter["Price"].mean()

Female_Avg_Price = Female_Filter["Price"].mean()

Other_Avg_Price = Other_Filter["Price"].mean()

Male_Total_Purchase = Male_Filter["Price"].sum()

Female_Total_Purchase = Female_Filter["Price"].sum()

Other_Total_Purchase = Other_Filter["Price"].sum()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [61]:
Purchase_Analysis_df = pd.DataFrame({"Count": [Male_Count,Female_Count,Other_Count],
                                     "Average Purchas Price": [Male_Avg_Price,Female_Avg_Price,Other_Avg_Price],
                                     "Total Purchase Value": [Male_Total_Purchase,Female_Total_Purchase,Other_Total_Purchase],      
                                    })
Purchase_Analysis_df

   Count  Average Purchas Price  Total Purchase Value
0    652               3.017853               1967.64
1    113               3.203009                361.94
2     15               3.346000                 50.19

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
bins = [0,10,14,19,24,29,34,39,40]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]


Purchase_Analysis_df["Age Ranges"]= pd.cut(purchase_data_df["Age"],bins,labels=group_names,include_lowest=True)
Purchase_Analysis_df

   Count  Average Purchas Price  Total Purchase Value Age Ranges
0    652               3.017853               1967.64      20-24
1    113               3.203009                361.94        40+
2     15               3.346000                 50.19      20-24

## Top Spenders

In [159]:


SN_Data_df = purchase_data_df.loc[purchase_data_df["SN"]== "Lisosia93" ,:]
         
Purchase_Count= SN_Data_df["Purchase ID"].count
Average_Pur_Price= SN_Data_df["Price"].mean

#SN_Data_df = pd.DataFrame({"Purchase Count": [Purchase_Count],
                                     #"Average Purchase Price": [Average_Pur_Price],                                        
                                    #})
SN_Data_df

#Purchase_Analysis_df = pd.DataFrame({"Count": [Male_Count,Female_Count,Other_Count],
                                     #"Average Purchas Price": [Male_Avg_Price,Female_Avg_Price,Other_Avg_Price],
                                     #"Total Purchase Value": [Male_Total_Purchase,Female_Total_Purchase,Other_Total_Purchase],      
                                    #})
#Purchase_Analysis_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81
224,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80
603,603,Lisosia93,25,Male,132,Persuasion,3.19
609,609,Lisosia93,25,Male,40,Second Chance,2.52

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

#Idastidru52

In [158]:
Most_Pop_Items_df = purchase_data_df.loc[:,["Item ID","Item Name","Price"]]
Most_Pop_Items_df = Most_Pop_Items_df.groupby('Item Name')
Most_Pop_Items_df

<bound method Series.count of 0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64>

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80